body{
    background-color: blue;
    text-align: center;}

h1{color: coral;
    padding: 10px;
    font-size: 35px;}

    h3{color: gold;
        padding: 10px;
        font-size: 36px;
    }

    p{
        font-size: 40px;
        color: greenyellow;
    }

    h2{
        font-size: 32px;
        color: lawngreen;
    }
         
        







